<div>

  <!-- ************ -->
  <!-- Title -->
  <!-- ************ -->
  <h2 class="text-center" ng-show="calendarCtrl.calendarView=='week'">
    {{ "calendar.template.week" | translate }}
    {{ calendarCtrl.weekNumber }}
    {{ "calendar.template.of" | translate }}
    {{ calendarCtrl.yearNumber }}
  </h2>
  <h2 class="text-center" ng-hide="calendarCtrl.calendarView=='week'">
    {{ calendarCtrl.calendarTitle }}
  </h2>

  <!-- ************ -->
  <!-- Previous, Today, Next, Year, Month, Week and Day section -->
  <!-- ************ -->
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          ng-click="calendarCtrl.subtractWeek(calendarCtrl.calendarView)"
          class="btn btn-primary"
          mwl-date-modifier
          date="calendarCtrl.viewDate"
          decrement="calendarCtrl.calendarView">
          {{ "calendar.template.previous" | translate }}
        </button>

        <button
          ng-click="calendarCtrl.setToToday(calendarCtrl.calendarView)"
          class="btn btn-default"
          mwl-date-modifier
          date="calendarCtrl.viewDate"
          set-to-today>
          {{ "calendar.template.today" | translate }}
        </button>

        <button
          ng-click="calendarCtrl.addWeek(calendarCtrl.calendarView)"
          class="btn btn-primary"
          mwl-date-modifier
          date="calendarCtrl.viewDate"
          increment="calendarCtrl.calendarView">
          {{ "calendar.template.next" | translate }}
        </button>

      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <label
          class="btn btn-primary"
          ng-model="calendarCtrl.calendarView"
          uib-btn-radio="'year'">
            {{ "calendar.template.year" | translate }}
        </label>

        <label
          class="btn btn-primary"
          ng-model="calendarCtrl.calendarView"
          uib-btn-radio="'month'">
            {{ "calendar.template.month" | translate }}
        </label>

        <label
          class="btn btn-primary"
          ng-model="calendarCtrl.calendarView"
          uib-btn-radio="'week'"
          ng-click="calendarCtrl.updateWeek(calendarCtrl.viewDate)">
            {{ "calendar.template.week" | translate }}
        </label>

        <label
          class="btn btn-primary"
          ng-model="calendarCtrl.calendarView"
          uib-btn-radio="'day'">
            {{ "calendar.template.day" | translate }}
        </label>

      </div>
    </div>

  </div>

  <br>

  <!-- ************ -->
  <!-- Calendar -->
  <!-- ************ -->
  <mwl-calendar
    events="calendarCtrl.events"
    view="calendarCtrl.calendarView"
    view-title="calendarCtrl.calendarTitle"
    view-date="calendarCtrl.viewDate"
    on-event-click="calendarCtrl.eventClicked(calendarEvent)"
    on-event-times-changed="calendarCtrl.eventTimesChanged(calendarEvent);
                            calendarEvent.startsAt = calendarNewEventStart;
                            calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="calendarCtrl.isCellOpen"
    day-view-start="10:00"
    day-view-end="20:00"
    day-view-split="30"
    cell-modifier="calendarCtrl.modifyCell(calendarCell)">
  </mwl-calendar>

  <br><br><br>

  <!-- ************ -->
  <!-- Event editor -->
  <!-- ************ -->
  <h3 id="event-editor">
    {{ "calendar.template.edit_events" | translate }}
    <button
      class="btn btn-primary pull-right"
      ng-click="calendarCtrl.addEvent()">
      {{ "calendar.template.add_new" | translate }}
    </button>
    <div class="clearfix"></div>
  </h3>

  <table class="table table-bordered">

    <thead>
      <tr>
        <th>{{ "calendar.template.title" | translate }}</th>
        <th>{{ "calendar.template.primary_color" | translate }}</th>
        <th>{{ "calendar.template.secondary_color" | translate }}</th>
        <th>{{ "calendar.template.starts_at" | translate }}</th>
        <th>{{ "calendar.template.ends_at" | translate }}</th>
        <th>{{ "calendar.template.remove" | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="event in calendarCtrl.events track by $index">
        <td>
          <input
            type="text"
            class="form-control"
            ng-model="event.title">
        </td>

        <td>
          <input
            class="form-control"
            colorpicker
            type="text"
            ng-model="event.color.primary">
        </td>

        <td>
          <input
            class="form-control"
            colorpicker
            type="text"
            ng-model="event.color.secondary">
        </td>

        <td>
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.startsAt"
              is-open="event.startOpen"
              close-text="Close" >
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="calendarCtrl.toggle($event, 'startOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="event.startsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="false">
          </div>
        </td>

        <td>
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.endsAt"
              is-open="event.endOpen"
              close-text="Close">
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="calendarCtrl.toggle($event, 'endOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="event.endsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="false">
          </div>
        </td>

        <td>
          <button
            class="btn btn-danger"
            ng-click="calendarCtrl.events.splice($index, 1)">
            {{ "calendar.template.delete" | translate }}
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
